docs/flows-n8n/M1.A - Gateway.json
{
  "name": "M1.A - Gateway",
  "nodes": [
    {
      "parameters": {
        "path": "webhook-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d81b3a30-e8fd-40f4-ad03-aeb961f00791",
      "name": "Webhook (GET - Verificación)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        208,
        96
      ],
      "webhookId": "33157137-f767-4645-bc50-7bcdb602345f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "09e141bb-3f15-4773-a715-e741c69bddff",
      "name": "Webhook (POST - Mensajes)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        208,
        320
      ],
      "webhookId": "6d65663a-7e97-4ec3-808f-7dc8bc089020"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "raw_payload",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "status",
              "value": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "id": "8f37ed2a-4414-4b37-8085-085a148e5485",
      "name": "Preparar Datos DB",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        416,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "8d8fc838-cf1b-4dc1-9cf9-14df5ce61e76",
      "name": "Responder Challenge1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        704,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.query['hub.verify_token'] }}",
              "value2": "n8n"
            }
          ]
        }
      },
      "id": "00fa6f68-6371-420c-9305-bfa4a6c6b2b5",
      "name": "Verificar Token1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        416,
        96
      ]
    },
    {
      "parameters": {
        "table": "inbox_queue",
        "columns": "raw_payload, status",
        "additionalFields": {}
      },
      "id": "200f4527-e812-43e3-85ff-abf01f34d6f0",
      "name": "Guardar en Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        640,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"received\"\n}",
        "options": {}
      },
      "id": "ab35be6d-12b7-4a59-af62-c60b960aafd3",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (GET - Verificación)": {
      "main": [
        [
          {
            "node": "Verificar Token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST - Mensajes)": {
      "main": [
        [
          {
            "node": "Preparar Datos DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos DB": {
      "main": [
        [
          {
            "node": "Guardar en Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Token1": {
      "main": [
        [
          {
            "node": "Responder Challenge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Queue": {
      "main": [
        [
          {
            "node": "Responder 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7d8b510-26e0-42b0-a9b8-38da285b9970",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec4e63bca4e09f099ec6f882fb9535cca5b57599cb594d54d83d116e2764f652"
  },
  "id": "9mQHPwHp29C1U3jc",
  "tags": []
}