docs/flows-n8n/M2 - Orquestador.json
{
  "name": "M2 - Orquestador",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 15
            }
          ]
        }
      },
      "id": "b2e1ad89-7cd6-440c-a8ea-48162e6a2241",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH locked_rows AS (\n    SELECT id\n    FROM inbox_queue\n    WHERE status = 'NORMALIZED'\n    ORDER BY created_at ASC\n    LIMIT 10\n    FOR UPDATE SKIP LOCKED\n)\nUPDATE inbox_queue\nSET status = 'PROCESSING', \n    updated_at = NOW()\nWHERE id IN (SELECT id FROM locked_rows)\nRETURNING *;",
        "options": {}
      },
      "id": "9645a0c2-e7c0-48f0-9f36-5d430f9998fc",
      "name": "1. Buscar Mensajes Nuevos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst groups = {};\n\n// Palabras clave para detectar intención de llamada\nconst callKeywords = /(llamar|llamada|celular|telefono|teléfono|número|numero|contactar por voz|hablar con alguien)/i;\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // 1. DATA PREVIA (IA o DB)\n  const processed = row.processed_json || {};\n  const results = processed.processing_results || {};\n  \n  // 2. EXTRACCIÓN DE TEXTO (Para analizarlo)\n  const payload = row.raw_payload || {};\n  let rawText = \"\";\n  \n  // Lógica de extracción segura (Mantenemos tu lógica actual)\n  try {\n      const messageData = payload.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\n      if (messageData) {\n          if (messageData.type === 'text') rawText = messageData.text?.body || \"\";\n          else if (messageData.type === 'image') rawText = messageData.image?.caption || \"[Imagen]\";\n          // ... otros tipos si es necesario\n      }\n  } catch (e) {}\n\n  // Si no pudimos sacar del payload, intentamos de los fallbacks\n  if (!rawText) rawText = results.final_text || processed.original_data?.msg_body || \"\";\n\n  // 3. DETECCIONES INTELIGENTES 🧠\n  // A) ¿La IA dijo que es venta?\n  let isHandoff = results.handoff_needed === true;\n  // B) ¿El usuario escribió palabras de llamada?\n  const isCallRequest = callKeywords.test(rawText);\n\n  // Si pide llamada, FORZAMOS el handoff automáticamente\n  if (isCallRequest) isHandoff = true;\n\n  // ... (Resto de tu lógica de extracción de teléfono/nombre se mantiene igual) ...\n  // [Aquí iría tu bloque de extracción de phone, name, convId que ya tenías]\n  // Para ahorrar espacio, asumo que mantienes esa parte igual.\n  // Solo asegúrate de que 'phone' esté definido antes de agrupar.\n  \n  // SIMULACIÓN DE VARIABLES PARA EL EJEMPLO (Tú mantén tu bloque de extracción real aquí)\n  const metaValue = payload.body?.entry?.[0]?.changes?.[0]?.value;\n  if (!metaValue) continue;\n  const messageData = metaValue.messages?.[0];\n  const contactData = metaValue.contacts?.[0];\n  if (!messageData) continue;\n  const phone = messageData.from || \"unknown\";\n  const name = contactData?.profile?.name || \"Cliente\";\n  const convId = row.cw_conversation_id || null;\n  // FIN SIMULACIÓN\n\n  // 4. AGRUPACIÓN\n  if (!groups[phone]) {\n    groups[phone] = {\n      contact_phone: phone,\n      contact_name: name,\n      cw_conversation_id: convId,\n      messages_buffer: [rawText],\n      db_ids: [row.id],\n      handoff_detected: isHandoff,\n      // 🔥 NUEVO: Guardamos la razón específica\n      is_call_request: isCallRequest \n    };\n  } else {\n    groups[phone].messages_buffer.push(rawText);\n    groups[phone].db_ids.push(row.id);\n    if (isHandoff) groups[phone].handoff_detected = true;\n    if (isCallRequest) groups[phone].is_call_request = true;\n  }\n}\n\n// 5. SALIDA\nreturn Object.values(groups).map(group => {\n  const fullContext = group.messages_buffer.join('. ');\n\n  return {\n    json: {\n      contact_phone: group.contact_phone,\n      contact_name: group.contact_name,\n      cw_conversation_id: group.cw_conversation_id,\n      concatenated_text: fullContext,\n      original_ids: group.db_ids,\n      message_count: group.messages_buffer.length,\n      handoff_detected: group.handoff_detected,\n      // 🔥 Pasamos la bandera de llamada\n      is_call_request: group.is_call_request \n    }\n  };\n});"
      },
      "id": "14cd4e59-fcbb-49f9-8b54-1a9f26e3b41d",
      "name": "2. Juntar Mensajes del Mismo Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U8C8zNd2NBP2Un3I",
          "mode": "list",
          "cachedResultUrl": "/workflow/U8C8zNd2NBP2Un3I",
          "cachedResultName": "M2 - Sub-Module A: The Profiler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        0
      ],
      "id": "48549f13-0e62-410f-a284-e864c3353cf8",
      "name": "Call Profiler"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "342cd04b-ec77-4660-a82e-9d8e839b6a8e",
              "leftValue": "={{ $('2. Juntar Mensajes del Mismo Cliente').first().json.handoff_detected || $json.handoff_active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        0
      ],
      "id": "dbf5bc21-3037-49a9-b9e5-f457cb65ce4c",
      "name": "Check Handoff"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hyfRn33Wx9Fl2UkK",
          "mode": "list",
          "cachedResultUrl": "/workflow/hyfRn33Wx9Fl2UkK",
          "cachedResultName": "M2 - Sub-Module B: The Strategist"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1296,
        480
      ],
      "id": "bbdb74de-9ace-435c-8522-976bb4213267",
      "name": "Call The Strategist"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE inbox_queue\nSET status = 'PROCESSED', updated_at = NOW()\nWHERE id IN (\n  {{ $('2. Juntar Mensajes del Mismo Cliente').item.json.original_ids.join(',') }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        480
      ],
      "id": "7ff60d72-568d-4ac4-b119-27db8b0068b6",
      "name": "Mark Messages Processed",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contacts\nSET\n  lead_status = '{{ $('Call The Strategist').item.json.ai_clasificacion }}',\n  ai_summary = '{{ $('Call The Strategist').item.json.ai_analisis }}',\n  last_interaction_at = NOW()\nWHERE id = {{ $('Call Profiler').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1712,
        480
      ],
      "id": "a2e377df-c41d-40e1-aade-908b8326c49b",
      "name": "Update CRM",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GtMQnTwZewVmrodc",
          "mode": "list",
          "cachedResultUrl": "/workflow/GtMQnTwZewVmrodc",
          "cachedResultName": "M3 - Delivery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1776,
        176
      ],
      "id": "a375928a-8ab6-40b6-ab9e-93ded5498bf9",
      "name": "Call M3 Delivery"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd8ee6fc-ae27-4c49-8f11-d2d0d7552196",
              "name": "phone",
              "value": "={{ $('Call Profiler').item.json.contact_phone }}",
              "type": "string"
            },
            {
              "id": "734e1fac-df29-4bf7-a2bf-df0d829613f4",
              "name": "text",
              "value": "={{ $('Call The Strategist').item.json.response_message }}",
              "type": "string"
            },
            {
              "id": "7603f749-0099-414f-9e20-d11b6db1a224",
              "name": "provider",
              "value": "meta",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        176
      ],
      "id": "5cd6ba46-dfea-48bd-821c-385623ad4448",
      "name": "Prepare Delivery Data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE inbox_queue\nSET status = 'PROCESSED', updated_at = NOW()\nWHERE id IN (\n  {{ $('2. Juntar Mensajes del Mismo Cliente').item.json.original_ids.join(',') }}\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        -80
      ],
      "id": "d13ca461-76cc-4aba-9f12-71ca551bd067",
      "name": "Mark Handoff Read",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b1da910-ba71-4829-9d4f-24bb036d821c",
              "name": "phone",
              "value": "573214244681",
              "type": "string"
            },
            {
              "id": "333c5ea9-0b4e-4bd3-bbbf-a22082479ca8",
              "name": "text",
              "value": "=🚨 ALERTA HANDOFF: El cliente {{ $('Call Profiler').item.json.contact_name }} requiere atención humana.\n\nIr al Chat: https://chat.agencianella.com/app/accounts/1/conversations/{{ $('Call Profiler').item.json.id }}",
              "type": "string"
            },
            {
              "id": "5fa31d6c-0ea9-44ba-90df-001fb5a1d661",
              "name": "provider",
              "value": "meta",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        -80
      ],
      "id": "476ffdd2-fb63-43e9-81aa-4c91a18add6e",
      "name": "Prepare Human Alert"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GtMQnTwZewVmrodc",
          "mode": "list",
          "cachedResultUrl": "/workflow/GtMQnTwZewVmrodc",
          "cachedResultName": "M3 - Delivery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2528,
        -80
      ],
      "id": "2d04df7b-e678-4766-9a29-8fdf61775c23",
      "name": "Call M3 Delivery1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c0470cb-79c4-42a6-9896-f7fa571ca1d8",
              "name": "phone",
              "value": "={{ $('Call Profiler').item.json.contact_phone }}",
              "type": "string"
            },
            {
              "id": "790744b7-19f6-4a85-a846-96a22e56f412",
              "name": "content",
              "value": "={{ $('Call The Strategist').item.json.response_message }}",
              "type": "string"
            },
            {
              "id": "f4f14f35-2166-430e-b557-6d8d30ea259d",
              "name": "message_type",
              "value": "outgoing",
              "type": "string"
            },
            {
              "id": "50a2c7d4-55d0-4e07-a83a-594964a99871",
              "name": "conversation_id",
              "value": "={{ $json.payload[0].id }}",
              "type": "string"
            },
            {
              "id": "7eb18a0b-04f9-4dcd-a50b-d236d4333e4c",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        480
      ],
      "id": "1893a972-b7e7-4139-8613-b08af8c0942f",
      "name": "Prepare Mirror Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39cd2119-fbab-4e89-bfaa-95beef7593ff",
              "leftValue": "={{ $json.delivery_status }}",
              "rightValue": "sent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        176
      ],
      "id": "3a517384-c995-44d7-b8e9-3fc19a792e3c",
      "name": "¿Envío Exitoso?"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Call The Strategist').item.json.db_id }}",
            "metadata": "={{\nJSON.stringify({\n  \"source\": \"human_agent\",\n  \"sender\": $('Call Profiler').item.json.contact_name || \"AI Assistant\",\n  \"status\": \"FAILED\",\n  \"error_log\": \"Delivery Failed in M3\"\n})\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cw_conversation_id",
              "displayName": "cw_conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        272
      ],
      "id": "9f086e54-08fb-442a-8b69-b83e870b11a6",
      "name": "DB: Registrar Fallo",
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.agencianella.com/api/v1/accounts/1/conversations/{{ $('Call Profiler').item.json.cw_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"⚠️ ERROR CRÍTICO DE ENTREGA: El mensaje no llegó a WhatsApp.\\n\\n📝 Motivo técnico: {{ $json.error_detail || $json.message }}\\n\\n👉 Por favor contacta al cliente por otro medio (Llamada/Email).\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2352,
        272
      ],
      "id": "daf8967d-c716-4ab1-a6f6-cd42c0db7edb",
      "name": "CW: Alerta Chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OG2XrBc64Mnh6VIF",
          "name": "Autorización CW"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Call The Strategist').item.json.db_id }}",
            "metadata": "={{\nJSON.stringify({\n  \"source\": \"human_agent\",\n  \"sender\": $('Call Profiler').item.json.contact_name || \"AI Assistant\",\n  \"status\": \"SENT\",\n  \"delivery_id\": \"meta_confirmed\"\n})\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cw_conversation_id",
              "displayName": "cw_conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2144,
        80
      ],
      "id": "35490d24-c36b-44dd-a842-41f48075068a",
      "name": "DB: Confirmar Envío",
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nella-n8n.2zsjzo.easypanel.host/webhook/mirror",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversation_id\": \"{{ $json.conversation_id }}\",\n  \"content\": \"{{ $json.content }}\",\n  \"message_type\": \"{{ $json.message_type }}\",\n  \"phone\": \"{{ $json.phone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2496,
        480
      ],
      "id": "5cb75e22-b031-451a-beef-0f3132d0f41a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://chat.agencianella.com/api/v1/accounts/1/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=+{{ $('Call Profiler').item.json.phone }}"
            },
            {
              "name": "include_contact_conversations",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1888,
        480
      ],
      "id": "4c76cefa-4e8d-420d-9dee-f3adff8b1b92",
      "name": "Buscar Conversacion Activa",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OG2XrBc64Mnh6VIF",
          "name": "Autorización CW"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://chat.agencianella.com/api/v1/accounts/1/contacts/{{ $json.payload[0].id }}/conversations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2096,
        480
      ],
      "id": "f8cf385f-3fcf-471a-a2bf-bc902f13d1a4",
      "name": "Traer Conversaciones",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OG2XrBc64Mnh6VIF",
          "name": "Autorización CW"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contacts\nSET \n    handoff_active = true,\n    lead_status = 'HUMAN_ATTENTION',\n    updated_at = NOW()\nWHERE phone = '{{ $('2. Juntar Mensajes del Mismo Cliente').first().json.contact_phone }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        -96
      ],
      "id": "ac9bf140-f330-4fc1-8bd5-020dbb30a9ed",
      "name": "Actualizar Handoff DB",
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "470d4999-eb32-4654-bbe5-f04fede56cc7",
              "leftValue": "={{ $('2. Juntar Mensajes del Mismo Cliente').first().json.is_call_request }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        -96
      ],
      "id": "1aba028d-56a7-4574-a7ae-ca8c803a37c0",
      "name": "Is Call Request?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GtMQnTwZewVmrodc",
          "mode": "list",
          "cachedResultUrl": "/workflow/GtMQnTwZewVmrodc",
          "cachedResultName": "M3 - Delivery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1872,
        -256
      ],
      "id": "8bfaf3f1-ee85-4c84-83bb-757361ca402e",
      "name": "Call M3 Delivery2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "922cbf10-e7bc-474c-ae2b-171b53b2927c",
              "name": "text",
              "value": "Dame un momento, te contactaré con mi equipo para gestionar la llamada lo antes posible. 📞",
              "type": "string"
            },
            {
              "id": "2f873fac-2c7f-4fc4-ba18-3cb12fe3dddd",
              "name": "phone",
              "value": "={{ $('2. Juntar Mensajes del Mismo Cliente').first().json.contact_phone }}",
              "type": "string"
            },
            {
              "id": "97d29d42-37d1-4577-a28d-c57428c299e0",
              "name": "provider",
              "value": "meta",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -256
      ],
      "id": "42adf79d-9590-468d-b944-f1e7100e3963",
      "name": "Preparar Respuesta Auto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://chat.agencianella.com/api/v1/accounts/1/conversations/' + ( $('Call Profiler').item.json.cw_conversation_id || $('1. Buscar Mensajes Nuevos').item.json.processed_json.processing_results.chatwoot_conversation_id ) + '/labels' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\"requiere_atencion\"]\n}",
        "options": {}
      },
      "id": "09c11af4-50ed-44f0-a73b-9e1468739977",
      "name": "CW: Etiquetar Handoff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OG2XrBc64Mnh6VIF",
          "name": "Autorización CW"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "1. Buscar Mensajes Nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Buscar Mensajes Nuevos": {
      "main": [
        [
          {
            "node": "2. Juntar Mensajes del Mismo Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Juntar Mensajes del Mismo Cliente": {
      "main": [
        [
          {
            "node": "Call Profiler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Profiler": {
      "main": [
        [
          {
            "node": "Check Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Handoff": {
      "main": [
        [
          {
            "node": "Actualizar Handoff DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call The Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call The Strategist": {
      "main": [
        [
          {
            "node": "Mark Messages Processed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Delivery Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Messages Processed": {
      "main": [
        [
          {
            "node": "Update CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delivery Data": {
      "main": [
        [
          {
            "node": "Call M3 Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Handoff Read": {
      "main": [
        [
          {
            "node": "Prepare Human Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Human Alert": {
      "main": [
        [
          {
            "node": "Call M3 Delivery1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM": {
      "main": [
        [
          {
            "node": "Buscar Conversacion Activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Mirror Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Envío Exitoso?": {
      "main": [
        [
          {
            "node": "DB: Confirmar Envío",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Registrar Fallo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Registrar Fallo": {
      "main": [
        [
          {
            "node": "CW: Alerta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call M3 Delivery": {
      "main": [
        [
          {
            "node": "¿Envío Exitoso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call M3 Delivery1": {
      "main": [
        []
      ]
    },
    "Buscar Conversacion Activa": {
      "main": [
        [
          {
            "node": "Traer Conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer Conversaciones": {
      "main": [
        [
          {
            "node": "Prepare Mirror Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Handoff DB": {
      "main": [
        [
          {
            "node": "CW: Etiquetar Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Call Request?": {
      "main": [
        [
          {
            "node": "Preparar Respuesta Auto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Handoff Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call M3 Delivery2": {
      "main": [
        [
          {
            "node": "Mark Handoff Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Auto": {
      "main": [
        [
          {
            "node": "Call M3 Delivery2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CW: Etiquetar Handoff": {
      "main": [
        [
          {
            "node": "Is Call Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1fbb0a9-00cd-47eb-aa35-48469c7ad121",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec4e63bca4e09f099ec6f882fb9535cca5b57599cb594d54d83d116e2764f652"
  },
  "id": "NMvu7KZCABFeyjME",
  "tags": []
}