docs/flows-n8n/M3 - Delivery.json
{
  "name": "M3 - Delivery",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        192
      ],
      "id": "72d2e990-4708-4ecb-b4f8-75f9f8083b78",
      "name": "Start"
    },
    {
      "parameters": {
        "jsCode": "// 1. Normalización de Datos\nconst rawPhone = $input.item.json.phone || '';\nconst text = $input.item.json.text || '';\nconst type = $input.item.json.type || 'text';\n\n// Regex para dejar solo números\nconst cleanPhone = rawPhone.toString().replace(/\\D/g, '');\n\n// 2. Validación Básica\nif (text.trim() === '') {\n  throw new Error(\"El campo 'text' no puede estar vacío.\");\n}\nif (cleanPhone.length < 10) {\n  throw new Error(\"El campo 'phone' no parece válido.\");\n}\n\nreturn {\n  phone: cleanPhone,\n  text: text,\n  type: type\n};"
      },
      "id": "d0f832e4-8c61-44b9-872b-4d55b80bc229",
      "name": "Normalizar & Validar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/885802471286304/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "recipient_type",
              "value": "individual"
            },
            {
              "name": "to",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={{ { \"body\": $json.text } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c844a6b1-3cbb-4e3d-ae80-d8cdb7bde9b8",
      "name": "Meta API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        192,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "67jR0mACVXqBW93k",
          "name": "Meta/WtSapp"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"delivery_status\": \"sent\",\n  \"provider_response\": {{ $json }}\n}",
        "options": {}
      },
      "id": "78294a71-6fbe-4355-99e0-a6c2d8786c0d",
      "name": "Output: Success (Clean)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        512,
        80
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": false,\n  \"delivery_status\": \"failed\",\n  \"error_detail\": \"{{ $json.error.message }} (Code: {{ $json.error.code }})\"\n}",
        "options": {}
      },
      "id": "2d4b3690-3e63-498b-9122-bf81f604acd8",
      "name": "Output: Error (Clean)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        512,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Normalizar & Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar & Validar": {
      "main": [
        [
          {
            "node": "Meta API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta API Request": {
      "main": [
        [
          {
            "node": "Output: Success (Clean)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output: Error (Clean)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34ba66a4-a1d1-44d4-918d-36a24c462d83",
  "meta": {
    "instanceId": "ec4e63bca4e09f099ec6f882fb9535cca5b57599cb594d54d83d116e2764f652"
  },
  "id": "GtMQnTwZewVmrodc",
  "tags": []
}