docs/flows-n8n/M5 - Human Bridge.json
{
  "name": "M5 - Growth",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-outbound",
        "options": {}
      },
      "id": "0da49195-4ad6-466e-939e-a8d1fcab5bf7",
      "name": "Chatwoot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -304,
        -192
      ],
      "webhookId": "08f16659-e86f-46e6-9b7e-4bb358898169"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.body.private }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "message_created"
            },
            {
              "value1": "={{ $json.body.message_type }}",
              "value2": "outgoing"
            }
          ]
        }
      },
      "id": "b271977d-cef8-43d7-8337-d3c94fff2874",
      "name": "Security Gate",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -80,
        -192
      ],
      "notes": "Bloquea notas privadas y eventos entrantes"
    },
    {
      "parameters": {
        "jsCode": "// Normalización de datos\nconst payload = $input.item.json.body;\n\n// Obtener teléfono (Buscamos en meta.sender o contact_inbox)\nlet phoneRaw = '';\nif (payload.conversation && payload.conversation.meta && payload.conversation.meta.sender) {\n  phoneRaw = payload.conversation.meta.sender.phone_number;\n} else if (payload.conversation && payload.conversation.contact_inbox && payload.conversation.contact_inbox.contact) {\n  phoneRaw = payload.conversation.contact_inbox.contact.phone_number;\n}\n\n// Limpieza E.164 (Solo números)\nconst cleanPhone = phoneRaw ? phoneRaw.replace(/\\D/g, '') : '';\n\nreturn {\n  phone: cleanPhone,\n  text: payload.content,\n  cw_conversation_id: payload.conversation.id,\n  sender_name: payload.sender ? payload.sender.name : 'Agente',\n  raw_body: payload\n};"
      },
      "id": "2dcc2137-0046-4e97-85ce-45d6498d7d22",
      "name": "Data Cleaning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        144,
        -192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GtMQnTwZewVmrodc",
          "mode": "list",
          "cachedResultUrl": "/workflow/GtMQnTwZewVmrodc",
          "cachedResultName": "M3 - Delivery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        928,
        -192
      ],
      "id": "368753e4-9f34-4687-9726-3985dfb98324",
      "name": "Call 'M3 - Delivery'"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contact_phone": "={{ $json.phone }}",
            "message_type": "text",
            "body": "={{ $node[\"Data Cleaning\"].json.text }}",
            "cw_conversation_id": "={{ $node[\"Data Cleaning\"].json.cw_conversation_id }}",
            "metadata": "={{ JSON.stringify({ \"source\": \"human_agent\", \"sender\": $json.sender_name }) }}",
            "direction": "outgoing"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cw_conversation_id",
              "displayName": "cw_conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -192
      ],
      "id": "c9b111bc-3d37-4d09-b57f-fbca98813511",
      "name": "Postgres Persistence",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "handoff_active": true,
            "phone": "={{ $node[\"Data Cleaning\"].json.phone }}",
            "lead_status": "gestion_humana",
            "updated_at": "={{ $now }}",
            "id": 0
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handoff_active",
              "displayName": "handoff_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_interaction_at",
              "displayName": "last_interaction_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_purchase_prediction",
              "displayName": "next_purchase_prediction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "referral_code",
              "displayName": "referral_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        -192
      ],
      "id": "f8dc01d8-32d7-486a-ac46-3d55bbbc2f6d",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "handoff_active": false,
            "id": 0,
            "phone": "={{ $json.phone }}",
            "lead_status": "ia_activa",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_status",
              "displayName": "lead_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handoff_active",
              "displayName": "handoff_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_interaction_at",
              "displayName": "last_interaction_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_purchase_prediction",
              "displayName": "next_purchase_prediction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "referral_code",
              "displayName": "referral_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        -16
      ],
      "id": "ee9d3ac7-25ef-49a2-8338-7b24820e95b7",
      "name": "Update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "77010802-aa9b-43e4-91f0-92c960b2317f",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "conversation_updated",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d0a983c9-54f9-4f5f-8463-b454d6af52d1",
              "leftValue": "={{ $json.body.conversation.labels.join(',') }}",
              "rightValue": "requiere_atencion",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -80,
        -16
      ],
      "id": "46de9f07-7a7f-4fd5-b30e-3a28ee142a52",
      "name": "Filtro: Fin de Gestión"
    },
    {
      "parameters": {
        "jsCode": "// Buscamos el teléfono de forma profunda en el JSON\nconst buscarTelefono = (obj) => {\n    for (let k in obj) {\n        if (k === 'phone_number' && typeof obj[k] === 'string' && obj[k].length > 5) return obj[k];\n        if (obj[k] !== null && typeof obj[k] === 'object') {\n            let res = buscarTelefono(obj[k]);\n            if (res) return res;\n        }\n    }\n    return null;\n};\n\nconst rawPhone = buscarTelefono($input.item.json.body) || \"\";\n\nreturn {\n    phone: rawPhone.replace(/\\D/g, '') // Deja solo los números\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -16
      ],
      "id": "ea908f02-9f5f-48c8-8802-3cc125f4ba2f",
      "name": "Limpiar Teléfono (Rama B)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.agencianella.com/api/v1/accounts/1/conversations/{{ $json.cw_conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\"requiere_atencion\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        -192
      ],
      "id": "33060780-4a98-486a-98a8-27a77cc8a17e",
      "name": "CW: Agregar Etiqueta",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OG2XrBc64Mnh6VIF",
          "name": "Autorización CW"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "39cd2119-fbab-4e89-bfaa-95beef7593ff",
              "leftValue": "={{ $json.delivery_status }}",
              "rightValue": "sent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        -192
      ],
      "id": "5955b3c4-9585-49e4-b1b1-d4d60dbd72b5",
      "name": "¿Envío Exitoso?"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Postgres Persistence\"].json.id }}",
            "metadata": "={{\nJSON.stringify({\n  \"source\": \"human_agent\",\n  \"sender\": $node[\"Data Cleaning\"].json.sender_name,\n  \"status\": \"FAILED\",\n  \"error_log\": $json.error_detail || $json.message || \"Unknown Error\"\n})\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cw_conversation_id",
              "displayName": "cw_conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        -96
      ],
      "id": "26cefbd5-e000-4226-b648-dda5052adc14",
      "name": "DB: Registrar Fallo",
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chat.agencianella.com/api/v1/accounts/1/conversations/{{ $node[\"Data Cleaning\"].json.cw_conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"⚠️ ERROR CRÍTICO DE ENTREGA: El mensaje no llegó a WhatsApp.\\n\\n📝 Motivo técnico: {{ $json.error_detail || $json.message }}\\n\\n👉 Por favor contacta al cliente por otro medio (Llamada/Email).\",\n  \"message_type\": \"outgoing\",\n  \"private\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        -96
      ],
      "id": "b70b3e57-34b8-4445-b983-f5e4ecc309fd",
      "name": "CW: Alerta Chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OG2XrBc64Mnh6VIF",
          "name": "Autorización CW"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $node[\"Postgres Persistence\"].json.id }}",
            "metadata": "={{\nJSON.stringify({\n  \"source\": \"human_agent\",\n  \"sender\": $node[\"Data Cleaning\"].json.sender_name,\n  \"status\": \"SENT\",\n  \"delivery_id\": $json.provider_response?.messages?.[0]?.id || \"sent_ok\"\n})\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cw_conversation_id",
              "displayName": "cw_conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        -288
      ],
      "id": "7e0d1173-bcc4-4c46-8a00-c0ebc00abece",
      "name": "DB: Confirmar Envío",
      "credentials": {
        "postgres": {
          "id": "Bfj1BkD8vty3mHgH",
          "name": "Postgres Nella Local"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chatwoot Webhook": {
      "main": [
        [
          {
            "node": "Security Gate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtro: Fin de Gestión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Gate": {
      "main": [
        [
          {
            "node": "Data Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning": {
      "main": [
        [
          {
            "node": "CW: Agregar Etiqueta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Persistence": {
      "main": [
        [
          {
            "node": "Call 'M3 - Delivery'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Postgres Persistence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro: Fin de Gestión": {
      "main": [
        [
          {
            "node": "Limpiar Teléfono (Rama B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Teléfono (Rama B)": {
      "main": [
        [
          {
            "node": "Update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CW: Agregar Etiqueta": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'M3 - Delivery'": {
      "main": [
        [
          {
            "node": "¿Envío Exitoso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Envío Exitoso?": {
      "main": [
        [
          {
            "node": "DB: Confirmar Envío",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB: Registrar Fallo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Registrar Fallo": {
      "main": [
        [
          {
            "node": "CW: Alerta Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28877efb-30f6-4af8-b587-121d51361e5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec4e63bca4e09f099ec6f882fb9535cca5b57599cb594d54d83d116e2764f652"
  },
  "id": "JKJfG3pdXEzmtjhY",
  "tags": []
}